body{
    margin: 0;
    padding: 0;
    background-color: #003479;
    scroll-behavior: smooth;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    width: 80px;
    height: 80px;
    margin-right: 10px;

}

.head-left button{
    color: white;
    background-color: #1F57A1;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0,3s;

}

.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color:white;
    font-size: 15px;
}

.tt-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.tt-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.tt-video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.tt-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}

.tt-info h1{
    color: #010046;
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tt-info p{
    font-size: 20px;
    color: #1F57A1;
    max-width: 210px;
}

.tt-info button{
    background-color: #1F57A1;
    border: 2px solid #1F57A1;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.tt-info button:hover{
    background-color: transparent;
    color: #1F57A1;
    border: 2px solid #1F57A1;
}

.gaming-text{
    color: #010046;
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.about-section{
   width: 100%;
   height: 100%;
   margin-top: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #010046;
}

.image-box{
   width: 360;
   height: 510px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px; 
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p{
    color: aliceblue;
    font-size: 30px;
    
}

.about-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #A8ECFF, #010046, #1F57A1, #07B6E8, #A8ECFF);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
   
}

.about-section h4{
    font-size: 30px;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    font-size: 25;
    margin-top: 5px;
    color: rgb(0, 160, 235);
    max-width: 425px;
    text-align: center;
    line-height: 25px;

}